{% extends 'base.html'%}
{% load static %}
{% load fontawesome %}




{% block content%}

<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1"> </h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'images/undraw_detailed_analysis_xn7y.svg' %}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Paul Application</h4>
                  <p class="card-text"></p>
                  <a href="{% url 'paulapplication' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{%static 'images/undraw_hiring_cyhs.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Timothy Application</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{% static 'images/undraw_under_construction_46pa.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Church Planting</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{%static 'images/undraw_Business_analytics_64el.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Field Representative</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{%static 'images/undraw_problem_solving_ft81.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Field Visitation</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{%static 'images/undraw_camera_mg5h.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Stories and Pictures </h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="{%static 'images/undraw_Graduation_ktn0.svg'%}" height="100" width="100" alt="card image"></p>
                  <h4 class="card-title">Graduation</h4>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Team -->

{% endblock %}
